CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s=y

CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=750
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ipt2socks=y

CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

CONFIG_PACKAGE_aliyundrive-webdav=y

CONFIG_PACKAGE_luci-app-adguardhome=m
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=m
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=m
CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-baidupcs-web=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-cpufreq=m
CONFIG_PACKAGE_luci-app-diskman=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=m
CONFIG_PACKAGE_luci-app-dnspod=m
CONFIG_PACKAGE_luci-app-ddnsto=m
# CONFIG_PACKAGE_luci-app-flowoffload=m
CONFIG_PACKAGE_luci-app-gowebdav=m
CONFIG_PACKAGE_luci-app-godproxy=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y
CONFIG_PACKAGE_luci-app-netdata=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
# CONFIG_PACKAGE_luci-app-oaf is not set
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-qbittorrent_static=m
CONFIG_PACKAGE_luci-app-samba=y
# CONFIG_PACKAGE_luci-app-sfe=m
CONFIG_PACKAGE_luci-app-turboacc=m
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=m
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=m
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=m
CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=m
CONFIG_PACKAGE_luci-app-softethervpn=m
CONFIG_PACKAGE_luci-app-tencentddns=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-udpxy=m
CONFIG_UnblockNeteaseMusic_Go=y
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-uugamebooster=m
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-app-xlnetacc=y
CONFIG_LUCI_LANG_ca=m
CONFIG_LUCI_LANG_cs=m
CONFIG_LUCI_LANG_de=m
CONFIG_LUCI_LANG_el=m
CONFIG_LUCI_LANG_es=m
CONFIG_LUCI_LANG_fr=m
CONFIG_LUCI_LANG_he=m
CONFIG_LUCI_LANG_hu=m
CONFIG_LUCI_LANG_it=m
CONFIG_LUCI_LANG_ja=m
CONFIG_LUCI_LANG_ko=m
CONFIG_LUCI_LANG_ms=m
CONFIG_LUCI_LANG_no=m
CONFIG_LUCI_LANG_pl=m
CONFIG_LUCI_LANG_pt=m
CONFIG_LUCI_LANG_pt-br=m
CONFIG_LUCI_LANG_ro=m
CONFIG_LUCI_LANG_ru=m
CONFIG_LUCI_LANG_sk=m
CONFIG_LUCI_LANG_sv=m
CONFIG_LUCI_LANG_tr=m
CONFIG_LUCI_LANG_uk=m
CONFIG_LUCI_LANG_vi=m
CONFIG_LUCI_LANG_zh-tw=m

CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_baidupcs-web=m
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_collectd-mod-thermal=m
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=m
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=m
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=m
CONFIG_PACKAGE_ddns-scripts_no-ip_com=m
CONFIG_PACKAGE_ddns-scripts_nsupdate=m
CONFIG_PACKAGE_ddns-scripts_route53-v1=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_minieap=m
CONFIG_PACKAGE_rsync=m
CONFIG_PACKAGE_rsyncd=m
CONFIG_PACKAGE_bind-dig=m
CONFIG_PACKAGE_bind-host=m
CONFIG_PACKAGE_mentohust=m
CONFIG_PACKAGE_odhcp6c=m
CONFIG_PACKAGE_openssh-sftp-client=m
CONFIG_PACKAGE_openssh-sftp-server=m
CONFIG_PACKAGE_pandownload-fake-server=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_xl2tpd=m
# CONFIG_PACKAGE_xray-core=m
# CONFIG_PACKAGE_xray-plugin=m
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=m
CONFIG_PACKAGE_ipv6helper=m
CONFIG_PACKAGE_fullconenat=m
CONFIG_PACKAGE_smartdns=m

CONFIG_PACKAGE_apk=m
CONFIG_PACKAGE_alpine-keys=m
CONFIG_PACKAGE_alpine-repositories=m
CONFIG_PACKAGE_bsdtar=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_gzip=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_zip=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_fstrim=m
CONFIG_PACKAGE_gpioctl-sysfs=m
CONFIG_PACKAGE_gpiod-tools=m
CONFIG_PACKAGE_irqbalance=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_lscpu=m
CONFIG_PACKAGE_nano=m
CONFIG_PACKAGE_shadow-chsh=m
CONFIG_PACKAGE_vim-full=m
CONFIG_PACKAGE_f2fs-tools=m
CONFIG_PACKAGE_f2fsck=m
CONFIG_PACKAGE_resize2fs=m
CONFIG_PACKAGE_zsh=m
CONFIG_PACKAGE_snmpd=m
CONFIG_PACKAGE_screen=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_tree=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_whereis=m
CONFIG_PACKAGE_gotop=m
CONFIG_PACKAGE_tmate=m
CONFIG_PACKAGE_udp2raw-tunnel=m
CONFIG_PACKAGE_udpspeeder=m
CONFIG_PACKAGE_uugamebooster=m

CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_usb-modeswitch=m
CONFIG_PACKAGE_kmod-mii=m
CONFIG_PACKAGE_luci-proto-qmi=m
CONFIG_PACKAGE_qmi-utils=m
CONFIG_PACKAGE_umbim=m
CONFIG_PACKAGE_uqmi=m
CONFIG_PACKAGE_comgt-ncm=m
CONFIG_PACKAGE_luci-proto-ncm=m
CONFIG_PACKAGE_comgt=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_luci-proto-3g=m

CONFIG_PACKAGE_libimobiledevice-utils=m
CONFIG_PACKAGE_libplist-utils=m
CONFIG_PACKAGE_libusbmuxd-utils=m

CONFIG_PACKAGE_usbmuxd=m
CONFIG_PACKAGE_libwslay=m
CONFIG_PACKAGE_libudev-fbsd=m

CONFIG_VERSION_MANUFACTURER_URL="https://github.com/DHDAXCW"
CONFIG_PACKAGE_hostapd=m
CONFIG_PACKAGE_hostapd-basic=m
CONFIG_PACKAGE_hostapd-utils=m
CONFIG_PACKAGE_hostapd-common=m
CONFIG_DRIVER_11AC_SUPPORT=m
CONFIG_DRIVER_11N_SUPPORT=m
CONFIG_DRIVER_11W_SUPPORT=m
CONFIG_PACKAGE_iw=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PACKAGE_wpad-openssl=m
CONFIG_PACKAGE_wpa-supplicant=m
