CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r4s=y

CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=750
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_autocore-arm=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ipt2socks=y

CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-godproxy=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_UnblockNeteaseMusic_Go=y
CONFIG_UnblockNeteaseMusic_NodeJS=y
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-uugamebooster=m
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-app-xlnetacc=y
CONFIG_LUCI_LANG_ca=m
CONFIG_LUCI_LANG_cs=m
CONFIG_LUCI_LANG_de=m
CONFIG_LUCI_LANG_el=m
CONFIG_LUCI_LANG_es=m
CONFIG_LUCI_LANG_fr=m
CONFIG_LUCI_LANG_he=m
CONFIG_LUCI_LANG_hu=m
CONFIG_LUCI_LANG_it=m
CONFIG_LUCI_LANG_ja=m
CONFIG_LUCI_LANG_ko=m
CONFIG_LUCI_LANG_ms=m
CONFIG_LUCI_LANG_no=m
CONFIG_LUCI_LANG_pl=m
CONFIG_LUCI_LANG_pt=m
CONFIG_LUCI_LANG_pt-br=m
CONFIG_LUCI_LANG_ro=m
CONFIG_LUCI_LANG_ru=m
CONFIG_LUCI_LANG_sk=m
CONFIG_LUCI_LANG_sv=m
CONFIG_LUCI_LANG_tr=m
CONFIG_LUCI_LANG_uk=m
CONFIG_LUCI_LANG_vi=m
CONFIG_LUCI_LANG_zh-tw=y

CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_baidupcs-web=m
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_collectd-mod-thermal=m
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=y
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=y
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y
CONFIG_PACKAGE_ddns-scripts_no-ip_com=y
CONFIG_PACKAGE_ddns-scripts_nsupdate=y
CONFIG_PACKAGE_ddns-scripts_route53-v1=y

